/* Designed By :
    Anidia ==>  https://anidia.org/
    Kivanc Aksoylu ==>http://kivancaksoylu.online/index.html
    Vardana
*/

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.090em;
  line-height: 1.556em;
  letter-spacing: 0;
  font-weight: 100;
  font-style: normal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  background-color: black;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

#wrapper {
  margin: 0;
  padding: 0;
  right: 0;
  position: relative;
  z-index: 2;
  transition: all 0.8s;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* fonts */

@font-face {
  font-family: "Bloody";
  src: url("./assets/fonts/BLOODY.TTF");
}

@font-face {
  font-family: "October Crow";
  src: url("./assets/fonts/October\ Crow.ttf");
}



/*modals for Mobile and PC*/

/*modal for mobile,slideup*/
#buyNowMobile {
  display: none;
  width: 100%;
  height: 70vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 6;
  background-color: white;
  border-radius: 40px 40px 0 0;
  animation: buyNowAnime 0.4s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes buyNowAnime {
  0% {
    bottom: -60%;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

#overlay{
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background-color:rgba(0,0,0,0.5);
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

#buyNowMobile .buyMobileContent {
  padding: 20px;
}

#buyNowMobile a{
  padding:10px 0;
}

#buyNowMobile a:link {
  color: black;
}

#buyNowMobile a:visited {
  color: red;
}

#buyNowMobile .buyMobileContent h1 {
  font-size: 0.8em;
  text-align: center;
}

#buyNowMobile .buyLinks {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0
}

/*end of mobile buy modal slideup*/



#buyButton{
  display: none;
}
#buyNowPC {
  /*TODO:maybe i will change it*/
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100vh;
  background-color:rgba(0,0,0,0.5);
  display: flex;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opasity 0.5s;
}

#buyNowPC h1{
  font-size: .9em;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}
.buyNowPCLinks{
  position: relative;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  width: 30%;
  padding: 20px;
}
.closePCBuy{
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
  
}

/* --------------------mobile 360px  starts here-----------------------*/


/*mobile menu*/
#mobileMenu {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
}

/*mobile menu ends here*/


/*header*/
/*pc navigation starts here*/
nav {
  display: flex;
  padding: 10px 0px;
  color: blanchedalmond;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  font-family: Bloody;
  font-size: 1.3em;
}

.logo {
  font-size: 1.5em;
}

.nav-links {
  display: none;
}

.burger {
  font-size: 1.2em;
}

.nav-burger-links {
  padding: 0;
  margin: 70px 0 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-burger-links li {
  font-size: 1.5em;
  padding: 20px;
  font-family: Bloody;
}

/*pc nav ends here*/
/*header*/

section {
  padding: 0 10px;
  margin: 0;
}

/*home section*/
#front {
  height: 100vh;
  background: url("./assets/homeSectionbg.webp");
  background-repeat: no-repeat;
  background-size: cover;
  background-position: center;
  background-attachment: fixed;
}


.grid {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
}

#showbook {
  margin-top: 35px;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  padding: 0;
}

.bookCover {
  height: 47vh;
  width: 49vw;
  margin: auto;
}

#title {
  font-family: October Crow;
  font-size: 3.2em;
  font-weight: 900;
  margin-top: 5px;
  color: #a51010;
  text-shadow: 2px 4px 2px rgba(245, 185, 185, 0.05);
  padding: 0;
}

#series {
  font-size: 1.6em;
  font-family: October Crow;
  color: white;
}

.icon-scroll {
  position: absolute;
  font-size: 1.2em;
  color: white;
  top: 90%;
  left: 47%;
  margin-top: 2%;
  animation: attract 0.8s infinite;
}

.homebuttons {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
  padding: 0;
}

.readMore {
  padding: 10px 25px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
}

.buyNow {
  padding: 10px 35px;
  background: transparent;
  outline: none;
  border-radius: 20px;
  background-color: #660000;
  text-transform: uppercase;
  font-weight: 1200;
  color: white;
}

.buyNow:hover {
  border: 1px solid yellow;
}

@keyframes attract {
  0% {
    transform: translateY(0);
  }

  25% {
    opacity: 25%;
  }

  50% {
    transform: translateY(5px);
    opacity: 100%;
  }

  100% {
    transform: translateY(7px);
  }
}

.icon-scroll:hover i {
  display: none;
}

.icon-scroll:hover:before {
  content: "Read More";
  margin-left: -40px;
  font-style: "Verdana";
}

/* Books Section*/
#books {
  background: white;
  box-sizing: border-box;
  height: unset;
  margin: 0;
  padding: 0;
}

.mobilesinBook {
  grid-column: 1/9;
  grid-row: 1;
  box-sizing: border-box;
  margin: 10px auto;
  height: 70vh;
  width: 80vw;
  padding: 0;
}

.sinBook {
  display: none;
}

.aboutBook {
  box-sizing: border-box;
  padding: 0 30px 0 30px;
  margin: 0 0 20px 0;
}
.aboutBookHeight {
    max-height: unset;
    overflow-y: unset;
  }

#readMoreBook {
    display: none;
  }




/*About Author */
#author {
  background: url("./assets/aboutauthorbg.webp");
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  height: unset;
  color: white;
  padding: 30px;
  overflow-x: hidden;
}

#author h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  align-self: self-start;
  font-size: 2.3em;
  margin-bottom: 20px;
  font-family: Bloody;
}

#imageAndSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutAuthorImg {
  width: 80vw;
  max-width: 100%;
  height: 63vh;
  align-items: center;
  border-radius: 4px;
  margin: 0 auto;
  -moz-box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.75);
}

.social {
  display: flex;
  margin-top: 20px;
  font-size: 3em;
  flex-direction: row;
  justify-content: space-evenly;
}

.social a:hover {
  color: #660000;
  transform: scale(1.3);
}

.aboutAuthor {
  box-sizing: border-box;
}

.authorName {
  text-align: center;
  margin: 0 0 20px 0;
  padding: 10px 0;
  font-size: 2.5em;
  font-family: Bloody;
}

.aboutAuthorHeight {
  max-height: unset;
  overflow-y: hidden;
}

#readMoreAuthor {
  display: none;
}

/*FAQ Section */
#faq {
  height: unset;
  padding: 0 0 30px 0;
  background-color: white;
  box-sizing: border-box;
}

#faq h1 {
  font-size: 2.5em;
  font-family: Bloody;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

#faqHeading {
  display: none;
}

.collapseWrapper {
  width: 90%;
  margin: 0 auto;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

.collapsible {
  background-color: white;
  color: #202124;
  cursor: pointer;
  padding: 18px;
  font-weight: 500;
  width: 100%;
  margin: 0 auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.063em;
  border-bottom: 1px solid #e5e5e5;
}

.collapseWrapper::nth-child(1) {
  border-top-left-radius: .625em;
  border-top-right-radius: .625em;
}

.active,
.collapsible:hover {
  background-color: #d3d3d4;
}

.collapsible:after {
  content: '\002B';
  color: #660000;
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  line-height: 1.7em;
  transition: max-height 0.2s ease-out;
  border-radius: 0 0 30px 30px;
  background-color: #f8f8f8;
}

/*Future Project Section*/
#futureprojects {
  height: unset;
  background: url("./assets/futureprojbg.webp");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-size: cover;
  color: white;
  padding: 30px;
}

#futureprojects h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: Bloody;
  margin: 0 0 20px 0;
}

.futureImage {
  width: 80vw;
  height: 63vh;
  max-width: 100%;
  border-radius: 4px;
  margin: 0 auto;
  -moz-box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.75);
}

/*Contact Us Section*/
#contactus {
  min-height: 100vh;
  background-color:#171717;
  color: white;
  padding-top: 50px;
}

#contactus h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: Bloody;
  margin-bottom: 50px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  margin: auto;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 20px;
  display: block;
  width: 100%;
}

textarea {
  padding: 10px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 20px;
  width: 100%;
  height: 30vh;
}

.formButton {
  display: flex;
  padding: 10px 50px;
  margin: auto;
  outline: none;
  border: none;
  border-radius: 20px;
  background-color: #660000;
  color: white;
  justify-content: center;
}

/*Footer*/
#footer {
  text-align: center;
  background-color: #131313;
  padding: 20px;
  font-size: 0.8em;
  color: white;
}

#footer span {
  padding: 5px 0;
}

#footer span::nth-child(3) {
  font-size: 1.6em;
}

@media only screen and (min-width: 960px) {

  p {
    font-size: 1.2em;
  }

  .logo {
    font-size: 1.8em;
  }

  .nav-links {
    position: unset;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .nav-links li {
    list-style: none;
  }

  .burger {
    display: none;
  }

  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: unset;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  .bookCover {
    grid-column: 5/9;
    grid-row: 1;
    height: 70vh;
    width: 20vw;
  }

  #info {
    grid-column: 1/5;
    grid-row: 1;
  }

  #title {
    font-size: 5em;
    padding: 0;
  }
  .homebuttons{
    display: none;
  }
  #buyButton{
    display: flex;
    padding: 10px 20px;
    max-width: 15vw;
    color: #fff;
    justify-content: center;
    cursor: pointer;
    background-color: #660000;
    border-radius: 4px;
    font-size: 1.4em;
    
    font-weight: bold;
  }

  #books {
    height: 100vh;
  }

  .sinBook {
    display: block;
    grid-column: 1/4;
    width: 70vh;
    grid-row: 1;
    margin: auto;
  }

  .mobilesinBook {
    display: none;
  }

  .aboutBook {
    grid-column: 4/8;
    grid-row: 1;
    margin: 12% 0;
    padding: 0;
    align-self: self-start;
  }

  .aboutBookHeight {
    max-height: 42vh;
    overflow-y: scroll;
  }

  #readMoreBook {
    display: inline-block;
    padding: 8px 20px;
    background-color: #660000;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
  }

  .aboutBookHeight::-webkit-scrollbar {
    width: 1px;
  }

  .formInputs {
    width: 40%;
    margin: auto;
    padding: 50px;
  }

  /*About Author Section*/
  #author {
    height: 100vh;
    padding: 20px 20px;
  }

  #author h1 {
    grid-column: 1/9;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: Bloody;
  }

  #imageAndSocial {
    grid-column: 6/8;
    grid-row: 2;
    align-self: self-start;
    margin-top: 20px;
  }

  #aboutAuthorImg {
    width: 350px;
    height: 60vh;
    margin: auto auto;
  }

  .aboutAuthor {
    grid-column: 2/6;
    grid-row: 2;
    align-self: self-start;

  }

  .aboutAuthorHeight {
    max-height: 42vh;
    overflow-y: hidden;
  }

  .aboutAuthorHeight::-webkit-scrollbar {
    width: 1px;
  }

  #readMoreAuthor {
    display: inline-block;
    padding: 8px 20px;
    background-color: #660000;
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
  }

  #futureprojects {
    height: 100vh;
    padding: 20px 20px;
  }

  #futureprojects h1 {
    grid-column: 1/9;
    text-align: center;
    margin: 0;
    padding: 0;
    align-self: self-start;
  }

  .futureImage {
    grid-column: 2/4;
    grid-row: 2;
    width: 340px;
    align-self: self-start;
  }

  .futureContent {
    grid-column: 4/8;
    grid-row: 2;
    align-self: self-start;
    
    margin-left: 50px;
  }

  #faqHeading {
    display: block;
  }

  .collapseWrapper {
    width: 65%;
    margin: 35px auto;
  }

  #mobileFaqHeading {
    display: none;
  }

  #footer span {
    font-size: 1.2em;
  }

  #footer .copy{
    grid-column: 1/3;
  }
  #footer .credit{
    grid-column: 3/7;
  }
  #footer .footerSocial{
    grid-column: 7/9;
  }


}


@media only screen and (min-width:1920px) {

  nav {
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .logo {
    font-size: 1.7em;
  }

  #series {
    font-size: 2.6;
  }

  #title {
    font-size: 8em;
  }

  p {
    font-size: 1.4em;
  }

  #buyButton{
    padding: 20px 50px;
    max-width: 15vw;
    font-size: 1.4em;
  }

  .aboutBook {
    overflow-y: unset;
    margin: 15% 0;
  }

  .aboutBookHeight {
    max-height: unset;
    overflow-y: unset;
  }

  #readMoreBook {
    display: none;
  }


  .aboutAuthor {
    padding-right: 50px;
  }

  .aboutAuthorHeight {
    max-height: unset;
    overflow-y: hidden;
  }

  #readMoreAuthor {
    display: none;
  }
  #aboutAuthorImg {
    width: 380px;
    height: 50vh;
  }


  .collapseWrapper {
    width: 50%;
    margin: 35px auto;
  }

  .futureImage {
    width: 380px;
    height: 50vh;
  }
}



/*Animations here*/
.anim {
  opacity: 0;
}

@keyframes anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}