/* Designed By :
    Anidia ==>  https://anidia.org/
    Kivanc Aksoylu ==>http://kivancaksoylu.online/index.html
    Vardana
*/


:root {
  --bloodRed: #660000;
}

html {
  box-sizing: border-box;
  scroll-behavior: smooth;
}

*,
*::before,
*::after {
  box-sizing: inherit;
}

h1,
h2,
h3,
h4,
h5,
h6 {
  padding: 0;
  margin: 0;
}

p {
  font-size: 1.090em;
  line-height: 1.556em;
  letter-spacing: 0;
  font-weight: 100;
  font-style: normal;
  margin-block-start: 1em;
  margin-block-end: 1em;
  margin-inline-start: 0px;
  margin-inline-end: 0px;
}

body {
  background-color: black;
  color: black;
  margin: 0;
  padding: 0;
  line-height: 1.3;
  box-sizing: border-box;
  font-family: 'Sen', sans-serif;
}

#wrapper {
  margin: 0;
  padding: 0;
  right: 0;
  position: relative;
  z-index: 2;
  transition: all 0.8s;
}

a {
  text-decoration: none;
  color: whitesmoke;
}

/* fonts */

@font-face {
  font-family: "Bloody";
  src: url("./assets/fonts/BLOODY.TTF");
}

@font-face {
  font-family: "October Crow";
  src: url("./assets/fonts/October\ Crow.ttf");
}



/*modals for Mobile and PC*/

/*modal for mobile,slideup*/
#buyNowMobile {
  display: none;
  width: 100%;
  height: 70vh;
  position: fixed;
  left: 0;
  bottom: 0;
  z-index: 6;
  background-color: white;
  border-radius: 40px 40px 0 0;
  animation: buyNowAnime 0.4s ease-in-out;
  font-family: Verdana, Geneva, Tahoma, sans-serif;
}

@keyframes buyNowAnime {
  0% {
    bottom: -60%;
    opacity: 0;
  }

  100% {
    bottom: 0;
    opacity: 1;
  }
}

#overlay {
  display: none;
  position: absolute;
  left: 0;
  top: 0;
  z-index: 5;
  background-color: rgba(0, 0, 0, 0.5);
  pointer-events: none;
  width: 100%;
  height: 100vh;
}

#buyNowMobile .buyMobileContent {
  padding: 0 20px;
  max-height: 51vh;
  overflow-y: scroll;
}

#buyNowMobile a {
  padding: 10px 0;
}

#buyNowMobile a:link {
  color: black;
}

#buyNowMobile a:visited {
  color: red;
}

#buyNowMobile h1 {
  padding: 10px;
  font-size: 0.8em;
  text-align: center;
}

#buyNowMobile .buyLinks {
  display: flex;
  color: black;
  justify-content: space-between;
  align-items: center;
  padding: 0px 0
}

/*end of mobile buy modal slideup*/


/*Buy button PC starts here*/
#buyButton {
  display: none;
}

/*buy now pc Modal*/
#buyNowPC {
  position: fixed;
  top: 0;
  left: 0;
  z-index: 6;
  width: 100%;
  height: 100vh;
  background-color: rgba(0, 0, 0, 0.5);
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  visibility: hidden;
  opacity: 0;
  transition: visibility 0s opasity 0.5s;
}

#buyNowPC h1 {
  font-size: .9em;
  font-weight: bolder;
  margin-bottom: 10px;
  text-align: center;
}

.buyNowPCLinks {
  position: relative;
  background-color: #fff;
  color: black;
  border-radius: 5px;
  width: 30%;
  height: 80vh;
  padding: 10px 20px;

}

.pcLinks {
  height: 69vh;
  overflow-y: scroll;
  overflow-x: hidden;
}

.pcLinks::-webkit-scrollbar {
  width: 1px;
}

.closePCBuy {
  position: absolute;
  right: -5px;
  top: -5px;
  cursor: pointer;
}

/*PC buynow Ends here*/

/* --------------------mobile 360px  starts here-----------------------*/


/*mobile menu*/
#mobileMenu {
  display: none;
  position: absolute;
  background-color: black;
  z-index: 0;
  top: 0;
  right: 0;
  height: 100vh;
  width: 80vw;
}

/*mobile menu ends here*/


/*header*/
/*navigation starts here*/
nav {
  display: flex;
  padding: 10px 0px;
  color: blanchedalmond;
  justify-content: space-around;
  align-items: center;
  box-sizing: border-box;
  font-family: Bloody;
  font-size: 1.3em;
}

.logo {
  font-size: 1.5em;
}

.logo a:hover {
  color: var(--bloodRed);
  transition: color .5s ease-out;
}

.nav-links {
  display: none;
}

.burger {
  font-size: 1.2em;
}

.nav-burger-links {
  padding: 0;
  margin: 70px 0 0 0;
  color: white;
  display: flex;
  flex-direction: column;
  justify-content: space-around;
  align-items: center;
  list-style-type: none;
}

.nav-burger-links li {
  font-size: 1.5em;
  padding: 20px;
  font-family: Bloody;
}

/*nav ends here*/
/*header*/

section {
  padding: 0 10px;
  margin: 0;
}

/*home section*/
#front {
  position: relative;
  height: 100vh;
  background: url("https://ik.imagekit.io/gmtd82gmg1/lilmohorror_W6F5sl6rM.png");
  background-repeat: no-repeat;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  background-position: center top;
  background-attachment: fixed;
}

.grid {
  display: grid;
  margin: 0;
  padding: 0;
  grid-template-columns: 1fr;
}

#showbook {
  margin-top: 35px;
}

#info {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  margin: 20px auto;
  padding: 0;
}

.bookCover {
  height: 47vh;
  width: 49vw;
  margin: auto;
}

#title {
  font-family: October Crow;
  font-size: 3.2em;
  font-weight: 900;
  margin-top: 5px;
  color: #a51010;
  text-shadow: 2px 4px 2px rgba(245, 185, 185, 0.05);
  padding: 0;
}

#series {
  font-size: 1.6em;
  font-family: October Crow;
  color: white;
}

/*mobile homepage buttons*/
.homebuttons {
  display: flex;
  justify-content: space-evenly;
  margin: 15px 0;
  padding: 0;
}

.readMore {
  padding: 10px 25px;
  background: transparent;
  outline: none;
  border: 1px solid white;
  text-transform: uppercase;
  color: white;
  border-radius: 20px;
}

.buyNow {
  padding: 10px 35px;
  background: transparent;
  outline: none;
  border-radius: 20px;
  background-color: var(--bloodRed);
  text-transform: uppercase;
  font-weight: 1200;
  color: white;
}

.buyNow:active {
  transform: scale(1.1);
}

/* mobile home page buttons ends here*/

.icon-scroll {
  display: none;
}


/* Books Section*/
#books {
  background: white;
  box-sizing: border-box;
  height: unset;
  margin: 0;
  padding: 0;
}

.mobilesinBook {
  grid-column: 1/9;
  grid-row: 1;
  box-sizing: border-box;
  margin: 10px auto;
  height: auto;
  width: 80vw;
  padding: 0;
}

.sinBook {
  display: none;
}

.aboutBook {
  box-sizing: border-box;
  padding: 0 30px 0 30px;
  margin: 0 0 20px 0;
}

.aboutBookHeight {
  max-height: unset;
  overflow-y: unset;
}

#readMoreBook {
  display: none;
}


#available {
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
  justify-content: center;
  align-content: center;
  margin-top: 20px;
}

#available img {
  width: 100px;
  height: 30px;
}

#available span {
  padding: 10px 10px;
  filter: grayscale(100%);
}

#available span:hover,
span:active,
span:focus {
  filter: grayscale(0%);
}




/*About Author */
#author {
  background: url("https://ik.imagekit.io/gmtd82gmg1/aboutauthorbg_vwu7nLdyD.webp");
  /* Image By PixBay :- https://www.pexels.com/photo/backlit-dark-dawn-environment-289367/ */
  box-sizing: border-box;
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  height: unset;
  color: white;
  padding: 30px;
  overflow-x: hidden;
}

#author h1 {
  text-align: center;
  margin: 0;
  padding: 0;
  align-self: self-start;
  font-size: 2.3em;
  margin-bottom: 20px;
  font-family: Bloody;
}

#imageAndSocial {
  display: flex;
  flex-direction: column;
  justify-content: center;
}

#aboutAuthorImg {
  width: 100%;
  height: auto;
  align-items: center;
  border-radius: 4px;
  margin: 0 auto;
  -moz-box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.75);
}

.social {
  display: flex;
  margin-top: 20px;
  font-size: 3em;
  flex-direction: row;
  color: var(--bloodRed);
  justify-content: space-evenly;
}

.social i {
  color: var(--bloodRed);
  padding: 0 20px;
}

.social i:hover {
  filter: brightness(180%);
  transform: translateY(3px);
}

.social i:active {
  transform: scale(1.3);
}

.aboutAuthor {
  box-sizing: border-box;
}

.authorName {
  text-align: center;
  margin: 0 0 20px 0;
  padding: 10px 0;
  font-size: 2.5em;
  font-family: Bloody;
}

.aboutAuthorHeight {
  max-height: unset;
  overflow-y: hidden;
}

#readMoreAuthor {
  display: none;
}

/*FAQ Section */
#faq {
  height: unset;
  padding: 0 0 30px 0;
  background-color: white;
  box-sizing: border-box;
}

#faq h1 {
  font-size: 2.5em;
  font-family: Bloody;
  text-align: center;
  margin-bottom: 20px;
  padding-top: 20px;
}

#faqHeading {
  display: none;
}

.collapseWrapper {
  width: 90%;
  margin: 0 auto;
  border-left: 1px solid #e5e5e5;
  border-right: 1px solid #e5e5e5;
  border-top: 1px solid #e5e5e5;
}

.collapsible {
  background-color: white;
  color: #202124;
  cursor: pointer;
  padding: 18px;
  font-weight: 500;
  width: 100%;
  margin: 0 auto;
  border: none;
  text-align: left;
  outline: none;
  font-size: 1.063em;
  border-bottom: 1px solid #e5e5e5;
}

.collapseWrapper::nth-child(1) {
  border-top-left-radius: .625em;
  border-top-right-radius: .625em;
}

.active,
.collapsible:hover {
  background-color: #d3d3d4;
}

.collapsible:after {
  content: '\002B';
  color: var(--bloodRed);
  font-weight: bold;
  float: right;
  margin-left: 5px;
}

.active:after {
  content: "\2212";
}

.content {
  padding: 0 18px;
  max-height: 0;
  overflow: hidden;
  line-height: 1.7em;
  transition: max-height 0.2s ease-out;
  border-radius: 0 0 30px 30px;
  background-color: #f8f8f8;
}

/*Future Project Section*/
#futureprojects {
  height: unset;
  background: url("https://ik.imagekit.io/gmtd82gmg1/crows_6pXB7QXKp.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  color: white;
  padding: 30px;
}

#futureprojects h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: Bloody;
  margin: 0 0 20px 0;
}

.futureImage {
  width: 100%;
  height: auto;
  max-width: 100%;
  border-radius: 4px;
  margin: 0 auto;
  -moz-box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.75);
  box-shadow: 0px 2px 12px 0px rgba(255, 255, 255, 0.75);
}

/*Contact Us Section*/
#contactus {
  min-height: 100vh;
  background: url("https://ik.imagekit.io/gmtd82gmg1/contactUs_NE9Jv-VQe.jpg");
  background-repeat: no-repeat;
  background-attachment: fixed;
  background-position: center top;
  background-size: cover;
  -o-background-size: cover;
  -moz-background-size: cover;
  -webkit-background-size: cover;
  color: white;
  padding-top: 50px;
}

#contactus h1 {
  text-align: center;
  font-size: 2.5em;
  font-family: Bloody;
  margin-bottom: 50px;
}

.formInputs {
  display: flex;
  flex-direction: column;
  justify-content: center;
  width: 99%;
  margin: auto;
  padding: 10px;
}

input {
  padding: 10px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  display: block;
  width: 100%;
}

textarea {
  padding: 10px;
  margin: 5px;
  outline: none;
  border: none;
  border-radius: 6px;
  width: 100%;
  height: 30vh;
}

.formButton {
  display: flex;
  align-items: center;
  justify-content: center;
  margin: auto auto;
  outline: none;
  border-radius: 40px;
  background-color: var(--bloodRed);
  color: white;
  transition: all 0.25s ease;
  height: 40px;
  width: 130px;
  border-radius: 40px;
  border: 2px solid var(--bloodRed);
  letter-spacing: 1px;
  text-shadow: 0;
}

.formButton:hover {
  background-color: #b41616;
  transition: background-color .5s ease;
  transform: translateY(2px);
}

.formButton::after {
  content: "SUBMIT";
}

.onclick {
  width: 40px;
  border-color: #bbb;
  border-width: 3px;
  background: #171717;
  font-size: 0;
  border-left-color: var(--bloodRed);
  animation: rotating 2s 0.25s linear infinite;
}

.onclick:after {
  content: "";
}

.onclick:hover {
  color: var(--bloodRed);
  background: #171717;
}

.validate {
  font-size: 13px;
  color: #fff;
  background-color: #1ecd97;
  border: 1px solid #1ecd97;
}

.validate:after {
  font-family: 'FontAwesome';
  content: '\f00c';
}

.validate:hover {
  background: #1ecd97;
  ;
}

/*form Button Animation*/
@keyframes rotating {
  from {
    transform: rotate(0deg);
  }

  to {
    transform: rotate(360deg);
  }
}

.socialContact {
  display: flex;
  margin-top: 20%;
  font-size: 2.3em;
  align-content: center;
  color: var(--bloodRed);
  justify-content: center;

}

.socialContact i {
  color: var(--bloodRed);
  padding: 0 20px;
}

.socialContact i:hover {
  filter: brightness(180%);
  transform: translateY(2px);
}

.socialContact i:active {
  transform: scale(1.3);
}

/*Footer*/
#footer {
  text-align: center;
  background-color: #131313;
  padding: 20px;
  font-size: 0.8em;
  color: white;
}

#footer span {
  padding: 5px 0;
}

#footer span::nth-child(3) {
  font-size: 1.6em;
}

#toTopBtn {
  display: none;
  position: fixed;
  bottom: 10px;
  right: 30px;
  z-index: 3;
  font-size: 1.3em;
  border: none;
  outline: none;
  background-color: red;
  color: white;
  cursor: pointer;
  padding: 15px;
  border-radius: 4px;
}

@media only screen and (min-width: 960px) {

  p {
    font-size: 1.2em;
  }

  /*header*/
  .logo {
    font-size: 1.8em;
  }

  /*navigation*/
  .nav-links {
    position: unset;
    display: flex;
    justify-content: space-around;
    width: 60%;
  }

  .nav-links li:hover {
    transform: translateY(2px);
  }

  .nav-links li {
    list-style: none;
  }

  .burger {
    display: none;
  }

  /*nav ends here*/

  .grid {
    display: grid;
    grid-template-columns: repeat(8, 1fr);
    grid-template-rows: unset;
    gap: 10px;
    justify-content: center;
    align-items: center;
  }

  /*home section*/
  .bookCover {
    grid-column: 5/9;
    grid-row: 1;
    height: 70vh;
    width: 20vw;
  }

  #info {
    grid-column: 1/5;
    grid-row: 1;
  }

  #title {
    font-size: 5.6em;
    padding: 0;
  }

  .homebuttons {
    display: none;
  }

  #buyButton {
    display: flex;
    padding: 10px 20px;
    max-width: 13vw;
    color: var(--bloodRed);
    ;
    justify-content: center;
    cursor: pointer;
    background-color: #fff;
    border-radius: 4px;
    font-size: 1.4em;

    font-weight: bold;
  }

  .icon-scroll {
    display: block;
    position: absolute;
    font-size: 1.2em;
    z-index: 4;
    color: white;
    top: 88%;
    left: 47%;
    margin-top: 2%;
    animation: attract 0.8s infinite;
  }

  /*down icon animation*/
  @keyframes attract {
    0% {
      transform: translateY(0);
    }

    25% {
      opacity: 25%;
    }

    50% {
      transform: translateY(5px);
      opacity: 100%;
    }

    100% {
      transform: translateY(7px);
    }
  }

  .icon-scroll:hover i {
    display: none;
  }

  .icon-scroll:hover:before {
    content: "Read More";
    margin-left: -40px;
    font-style: "Verdana";
  }

  /*Book Section*/
  #books {
    height: 100vh;
  }

  .sinBook {
    display: block;
    grid-column: 1/4;
    width: 70vh;
    grid-row: 1;
    margin: auto;
  }

  .mobilesinBook {
    display: none;
  }

  #buyButton:hover {
    background-color: #b41616;
    color: #fff;
    transition: all 2s ease;
  }

  #buyButton:active {
    transform: scale(1.1);
  }

  .aboutBook {
    grid-column: 4/8;
    grid-row: 1;
    margin: 12% 0;
    padding: 0;
    align-self: self-start;
  }

  .aboutBookHeight {
    max-height: 42vh;
    overflow-y: hidden;
  }

  #readMoreBook {
    display: inline-block;
    padding: 8px 20px;
    margin-top: 2px;
    background-color: var(--bloodRed);
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
  }

  .aboutBookHeight::-webkit-scrollbar {
    width: 1px;
  }

  #available {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    margin-top: 20px;
    animation: all .2s ease;
  }

  #available img {
    width: 80px;
    height: 30px;
  }

  /*Book section ends here*/


  /*About Author Section*/
  #author {
    height: 100vh;
    padding: 20px 20px;
  }

  #author h1 {
    grid-column: 1/9;
    text-align: center;
    margin: 0;
    padding: 0;
    font-size: 2.5em;
    margin-bottom: 20px;
    font-family: Bloody;
  }

  #imageAndSocial {
    grid-column: 6/8;
    grid-row: 2;
    align-self: self-start;
    margin-top: 20px;
  }

  #aboutAuthorImg {
    width: 300px;
    height: 63vh;
    margin: auto auto;
  }

  .aboutAuthor {
    grid-column: 2/6;
    grid-row: 2;
    align-self: self-start;

  }

  .aboutAuthorHeight {
    max-height: 42vh;
    overflow-y: hidden;
  }

  .aboutAuthorHeight::-webkit-scrollbar {
    width: 1px;
  }

  #readMoreAuthor {
    display: inline-block;
    padding: 8px 20px;
    background-color: var(--bloodRed);
    color: #fff;
    border-radius: 4px;
    font-weight: bold;
    font-size: 1.1em;
    cursor: pointer;
  }

  #futureprojects {
    height: 100vh;
    padding: 20px 20px;
  }

  #futureprojects h1 {
    grid-column: 1/9;
    text-align: center;
    margin: 0;
    padding: 0;
    align-self: self-start;
  }

  .futureImage {
    grid-column: 2/4;
    grid-row: 2;
    width: 340px;
    height: auto;
    align-self: self-start;
  }

  .futureContent {
    grid-column: 4/8;
    grid-row: 2;
    align-self: self-start;

    margin-left: 50px;
  }

  /*FAQ*/
  #faqHeading {
    display: block;
  }

  .collapseWrapper {
    width: 65%;
    margin: 35px auto;
  }

  #mobileFaqHeading {
    display: none;
  }

  /*contact section*/
  .formInputs {
    width: 40%;
    margin: auto;
    padding: 50px;
  }

  /*footer*/
  #footer span {
    font-size: 1.2em;
  }

  #footer .copy {
    grid-column: 1/3;
  }

  #footer .credit {
    grid-column: 3/7;
  }

  #footer .footerSocial {
    grid-column: 7/9;
  }
}


@media only screen and (min-width:1920px) {

  nav {
    font-size: 1.7em;
    background-color: rgba(0, 0, 0, 0.1);
  }

  .logo {
    font-size: 1.7em;
  }

  #series {
    font-size: 2.6em;
  }

  #title {
    font-size: 8em;
  }

  p {
    font-size: 1.4em;
  }

  #buyButton {
    display: flex;
    flex-direction: row;
    justify-content: space-evenly;
    align-content: center;
    padding: 15px 30px;
    max-width: 15vw;
    font-size: 1.4em;

  }

  #buyButton:hover {
    background-color: #b41616;
    transition: background-color 2s ease;
  }

  #buyButton:active {
    transform: scale(1.1);
  }

  .buyNowPCLinks {
    height: 60vh;
    width: 25%;
  }

  .pcLinks {
    height: 54vh;
    overflow-y: scroll;
    overflow-x: hidden;
  }

  .aboutBook {
    overflow-y: unset;
    margin: 8% 0;
  }

  .aboutBookHeight {
    max-height: unset;
    overflow-y: unset;
  }

  #readMoreBook {
    display: none;
  }

  #available {
    display: flex;
    flex-direction: row;
    align-content: center;
    justify-content: start;
    margin-top: 20px;
  }

  #available img {
    width: 100px;
    height: 30px;
  }


  .aboutAuthor {
    padding-right: 50px;
  }

  .aboutAuthorHeight {
    max-height: unset;
    overflow-y: hidden;
  }

  #readMoreAuthor {
    display: none;
  }

  #aboutAuthorImg {
    width: 100%;
    height: auto;
  }


  .collapseWrapper {
    width: 50%;
    margin: 35px auto;
  }

  .futureImage {
    width: 100%;
    height: auto;
  }
}


/*This media query is for Galaxy Fold*/
@media only screen and (max-width:280px) {
  .logo {
    font-size: 1.2em;
  }

  #title {
    font-size: 2.7em;
  }

  #series {
    font-size: 1.5em;
  }

  .bookCover {
    height: auto;
    width: 70vw;
    margin: auto;
  }

  .readMore {
    padding: 10px 10px;
    background: transparent;
    outline: none;
    font-size: .8em;
    border: 1px solid white;
    text-transform: uppercase;
    color: white;
    border-radius: 20px;
  }

  .readMore:hover {
    color: #000;
    background-color: #fff;
  }

  .buyNow {
    padding: 10px 20px;
    background: transparent;
    outline: none;
    font-size: .8em;
    border-radius: 20px;
    background-color: var(--bloodRed);
    text-transform: uppercase;
    font-weight: 1200;
    color: white;
  }
}

/*For ipad pro Potrait*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: portrait) and (-webkit-min-device-pixel-ratio: 1.5) {

  .bookCover {
    width: 39vw;
    height: auto;
  }

  #buyButton {
    max-width: 30vw;
    padding: 10px 50px;
  }

  .sinBook {
    width: 100%;
    height: auto;
  }

  .aboutBook {
    align-self: center;
  }

  .aboutBookHeight {
    max-height: unset;
    overflow-y: unset;
  }

  #readMoreBook {
    display: none;
  }

  .aboutAuthorHeight {
    max-height: unset;
    overflow-y: unset;
  }

  #readMoreAuthor {
    display: none;
  }

  #aboutAuthorImg {
    width: 100%;
    height: auto;
  }
}


/*For ipad pro Landscape*/
@media only screen and (min-device-width: 1024px) and (max-device-width: 1366px) and (orientation: landscape) and (-webkit-min-device-pixel-ratio: 1.5) {
  .bookCover {
    width: 50%;
    height: auto;
  }

  .sinBook {
    width: 100%;
    height: auto;
  }

  .aboutBookHeight {
    max-height: unset;
    overflow-y: unset;
  }

  #readMoreBook {
    display: none;
  }

  .aboutBookHeight {
    max-height: unset;
    overflow-y: unset;
  }

  #readMoreBook {
    display: none;
  }

  .aboutAuthorHeight {
    max-height: unset;
    overflow-y: unset;
  }

  #readMoreAuthor {
    display: none;
  }

  #aboutAuthorImg {
    width: 100%;
    height: auto;
  }


}



/*Animations here*/
.anim {
  opacity: 0;
}


/*Animation used in About Author Section*/
@keyframes anim1 {
  from {
    transform: translateY(-100px);
    opacity: 0;
  }

  to {
    transform: translateY(0);
    opacity: 1;
  }
}